	
	#gridGallery {
	  max-width: 1170px;
	  margin-left: auto;
	  margin-right: auto;
	}
	
	h2,
	.ms-WPBody h2 {
	  color: #000;
	}
	
	.box h3 {
	  color: #fff;
	  font-family: 'Source Sans Pro';
    font-weight:700;
	}
	
	section {
	  margin: 25px 0;
	}
	
	#gridGallery .row {
	  background-color: black;
	}
	
	.box {
	  background-position: center center;
	  background-size: cover;
	  border: 1px solid #fff;
	  transition: opacity .25s;
	  overflow: hidden;
	}
	
	.hiddenText {
	  display: none !important;
	}
	
	.box:hover {
	  cursor: pointer;
	  z-index: 1;
	}
	
	#boxOne,
	#boxTwo,#boxnove,#boxdez,#boxvinte, #boxvinteum {
	  height: 300px;
	}
	
	#boxThree,
	#boxFour,
	#boxFive,
	#boxSix,
	#boxSeven,
	#boxEight,#boxonze,#boxdoze,#boxtreze,#boxcatorze,#boxdezessete, #boxdezenove, #boxvintedois, #boxvintetres,#boxquinze,#boxdezesseis,#box24,#box25,#box26,#box27,#box28,#box29,#box30,#box31,#box32,#box33,#box34,#box35,#box36,#box37,#box38,#box39,#box40,#box41,#box42,#box43,#box44,#box45,#box46,#box47,#box48,#box49,#box50,#box51,#box52,#box53,#box54,#box55,#box56,#box57,#box58,#box59,#box60,#box61,#box62,#box63,#box64,#box65,#box66,#box67,#box68,#box69,#box70,#box71,#box72,#box73,#box74,#box75,#box76,#box77,#box78,#box79,#box80,#box81,#box82,#box83,#box84,#box85,#box86,#box87, #box88 ,#box89 ,#box90 ,#box91 ,#box92 ,#box93 ,#box94 ,#box95 ,#box96 ,#box97 ,#box98 ,#box99 ,#box100 ,#box101 ,#box102 ,#box103 ,#box104 ,#box105 ,#box106 ,#box107 ,#box108 ,#box109 ,#box110 ,#box111 ,#box112 ,#box113 ,#box114 ,#box115 ,#box116 ,#box117 ,#box118 ,#box119 ,#box120 ,#box121 ,#box122,#box123,#box124,#box125,#box126,#box127,#box128,#box129,#box130,#box131,#box132,#box133,#box134,#box135,#box136,#box137,#box138,#box139,#box140,#box141,#box142,#box143,#box144,#box145,#box146,#box147,#box148,#box149 {
	  height: 150px;
	}
	
	#boxOne {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8281/img-20190525-wa0014.jpg');
	}
	
	
	
	#boxTwo {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8282/img-20190525-wa0025.jpg');
	}
	
	
	#boxThree {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8283/img-20190525-wa0030.jpg');
	}
	
	#boxFour {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8284/img-20190530-wa0000.jpg');
	}
	
	#boxFive {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8285/img-20190530-wa0004.jpg');
	}
	
	#boxSix {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8286/img-20190529-wa0012.jpg');
	}
	
	#boxSeven {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8287/img-20190529-wa0015.jpg');
	}
	
	#boxEight {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8288/img-20190529-wa0016.jpg');
	}
	
	#boxnove {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8289/img-20190529-wa0018.jpg');
	}
	
	#boxdez {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8290/img-20190529-wa0039.jpg');
	}
	
	
	#boxonze {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8291/img-20190529-wa0046.jpg');
	}
	
	#boxdoze {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8292/img-20190523-wa0007.jpg');
	}
	
	#boxtreze {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8293/img-20190523-wa0010.jpg');
	}
	
	#boxcatorze {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8294/img-20190523-wa0011.jpg');
	}
	
	#boxquinze {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8295/img-20190529-wa0007.jpg');
	}
	
	#boxdezesseis {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8296/img-20190529-wa0008.jpg');
	}
	
	#boxdezessete {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8297/img-20190529-wa0009.jpg');
	}
	
	#boxdezoito {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8298/img-20190610-wa0001.jpg');
	}
	
	#boxdezenove {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8299/img-20190610-wa0005.jpg');
	}
	
	#boxvinte {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8300/img-20190610-wa0009.jpg');
	}
	
	
	#boxvinteum {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8301/img-20190527-wa0002.jpg');
	}
	
	#boxvintedois {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8302/img-20190527-wa0003.jpg');
	}
	
	#boxvintetres {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8303/img-20190527-wa0006.jpg');
	}
	
	#box24 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8332/ana-carolina-teles-da-silva-escola-estadual-municipalizada-sao-goncalo-rio-de-janeiro.jpg');
	}
	
	#box25 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8333/cintya-rocha-lima-minharro-5-ano-d-cemeb-sao-miguel-arcanjo-varzea-paulista-sp.jpg');
	}
	
	#box26 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8334/colegio-estadual-teotonio-vilela-feira-de-santana-ba-professora-consuelo-bittencourt-7-ano.JPG');
	}
	
	#box27 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8335/colegio-evencia-brito-8-professora-ivanilde-carvalho.jpg');
	}
	
	#box28 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8336/ee-prof-marlene-frattini-matao-sao-paulo-prof-janaina-dias-de-morais-coelho.jpeg');
	}
	
	#box29 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8337/em-jose-alves-barreto-cmea-mato-escuro-5-distrito-sao-joao-da-barra-rj-professora-liliana.jpg');
	}
	
	#box30 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8338/eeb-bulcao-viana-professora-giovana-da-silva-lima-praia-grande-santa-catarina.jpg');
	}
	
	#box31 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8339/eeb-professora-maria-solange-lopes-de-borba-professora-giovana-da-silva-lima-praia-grande-santa-catarina.jpg');
	}
	
	#box32 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8340/ensino-medio-da-escola-jose-de-almeida-maciel-pesqueira-pe.jpg');
	}
	
	#box33 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8341/escola-elesbao-da-luz-de-brito-em-fartura-do-piaui-estado-do-piaui.jpg');
	}
	
	#box34 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8342/escola-indigena.jpg');
	}
	
	#box35 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8343/escola-municipal-ednaldo-ribeiro-sales-5-ano-professora-terezinha-moura.jpg');
	}
	
	#box36 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8344/escola-municipal-engenheiro-carlos-rohm-ribeirao-pires-sp.jpg');
	}
	
	#box37 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8345/escola-municipal-joao-felix-dos-reis-professora-elaine-almeida-e-josefa-meire-sousa.jpg');
	}
	
	#box38 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8346/escola-municipal-placido-pita-5-ano-professora-josefa-ednir-marques.jpg');
	}
	
	#box39 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8347/escola-municipal-placido-pita-municipio-de-ribeira-do-pombal-ba.jpg');
	}
	
	#box40 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8348/escola-municipal-professor-sebastiao-vayego-de-carvalho-ouro-fino-paulista-ribeirao-pires-sp.jpg');
	}
	
	#box41 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8349/escola-municipal-rui-barbosa-6-ano-professora-nadilma-matos.jpg');
	}
	
	#box42 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8350/professora-valdiza-alves-gadelha-5-ano-emef-noel-alves-de-oliveira-municipio-de-vieiropolis-pb.jpg');
	}
	
	#box43 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8351/maria-aguiar-de-f-lara-emeb-cel-francisco-rodrigues-barbosa-itatiba-sao-paulo.jpg');
	}
	
	#box44 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8352/municipio-do-rio-de-janeiro-em-0817127-ayrton-senna-da-silva-professora-ana-lucia-campello-vieira.jpg');
	}
	
	#box45 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8353/prof-getulio-nascimento.jpg');
	}
	
	#box46 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8354/prof-vania-batista.jpg');
	}
	
	#box47 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8355/professora-dulcinea-silva-jeronimo-escola-estadual-basilio-da-gama-tiradentes-minas-gerais.jpg');
	}
	
	#box48 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8356/professora-grasiella-alves-escola-estadual-professora-hilda-de-souza-ferreira-campo-grande-ms-5-ano.jpg');
	}
	
	#box49 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8357/professora-judileide-silva-morais-escola-macaria-giffoni-florania-rio-grande-do-norte.jpg');
	}
	
	#box50 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8358/professora-margareth-lilian-ee-archimedes-bava-bertioga-sao-paulo.jpeg');
	}
	
	#box51 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8359/professora-micheline-gomes-de-melo-eef-nossa-senhora-auxiliadora-carius-ceara.jpg');
	}
	
	#box52 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8360/professora-valdiza-alves-gadelha-vieiropolis-pb.jpg');
	}
	
	#box53 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8361/professoras-aline-e-ana-paula-escola-estadual-carlos-nogueira-da-gama-reduto-minas-gerais.jpg');
	}
	
	#box54 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8373/2-serie-a-centro-estadual-educacional-profissionalizante-berila-alves-de-almeida-nossa-senhora-das-dores-no-estado-de-sergipe-prof-cristiane-menezes.JPG');
	}
	
	#box55 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8374/2-serie-c-centro-estadual-educacional-profissionalizante-berila-alves-de-almeida-nossa-senhora-das-dores-no-estado-de-sergipe-prof-cristiane-menezes.JPG');
	}
	
	#box56 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8375/6-e-7-anos-logradouropb-dimas-ferreira.jpg');
	}
	
	#box57 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8376/9-ano-analises-e-ilustracoes-das-cronicas-lidas-escola-estadual-professora-heloisa-passos-pirapora-mg-sre-pirapora-professora-fernanda-dos-santos-lima-guedes.jpg');
	}
	
	#box58 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8377/alba-valeria-de-santanna-escola-professor-altino-corsino-da-silva-flores-municipio-de-sao-jose-santa-catarina.jpg');
	}
	
	#box59 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8378/escola-de-educacao-basica-alfredo-zimmermann-guaramirim-santa-catarina-professor-valmor-jose-marques.jpg');
	}
	
	#box60 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8379/escola-estadual-alzira-ayres-pereira-catas-altas-mg-professora-rosemary-ayres-siqueira-de-souza.jpg');
	}
	
	#box61 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8380/escola-estadual-cidada-integral-professor-raul-cordula-campina-grande-paraiba-professora-samantha-b-santos.jpg');
	}
	
	#box62 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8381/escola-estadual-conego-calado-em-igarape-acu-para-professora-fernanda-valeska.jpg');
	}
	
	#box63 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8382/escola-estadual-de-ensino-fundamental-bento-freire-sousa-municipio-da-paraiba-adriana-medeiros-e-josemilia-casimiro-5ano.jpeg');
	}
	
	#box64 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8383/escola-estadual-de-tempo-integral-professor-jose-vasques-ferrari-itapeva-sao-paulo-fabiano-ferraz.jpg');
	}
	
	#box65 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8384/marcia-luiza-faraco-razek-escola-estadual-dom-othon-motta.jpg');
	}
	
	#box66 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8385/gilmarlene-lima-de-medeiros-gestora-da-escola-estadual-professora-francisca-elzika-de-souza-coelho-do-estado-de-roraima-trabalhos-realizados-pela-professora-rosa-maria.jpg');
	}
	
	#box67 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8386/escola-estadual-republica-do-uruguai-cidade-uruguaianars-professora-anelise-weis.jpg');
	}
	
	#box68 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8387/escola-estadual-sao-tomas-de-aquino-municipio-de-tupiratins-estado-do-tocantins-sobre-memorias-literarias-cintya-de-sousa-oliveira.jpeg');
	}
	
	#box69 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8388/escola-municipal-antonio-joaquim-de-gouveia-campos-frios-xexeu-pe-francicleide-maria-rocha-da-silva-5-ano-a.jpg');
	}
	
	#box70 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8389/escola-municipal-cel-antonio-benigno-ribeiro-municipal-de-nilopolis-rio-de-janeiro-turmas-do-8-ano-professora-angela-braga.jpg');
	}
	
	#box71 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8390/turma-do-6-ano-escola-municipal-de-ensino-fundamental-pedro-marques-de-medeiros-sitio-ipueira-municipio-de-paulista-pb-leofabia-alves-dos-santos.jpg');
	}
	
	#box72 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8391/escola-municipal-fabio-dias-da-silva-itaguaje-pr-5-ano-a-professora-flavia-felix-de-souza.jpg');
	}
	
	#box73 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8392/escola-municipal-professora-halley-de-souza-verdu-machado-no-municipio-de-goinapolis-goias-cristina-monica-de-sousa-rodrigues.jpg');
	}
	
	#box74 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8393/fotos-das-oficinas-escola-estadual-ordem-e-progresso-belo-horizonte-minas-gerais-professora-lidia-machado.jpg');
	}
	
	#box75 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8394/jonny-mendes-de-araujo-da-emeb-dr-alfredo-froes-neto-do-municipio-de-ferraz-de-vasconcelossp.jpg');
	}
	
	#box76 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8395/oficina-sobre-memorias-literarias-7ano-a-da-escola-municipal-ludovico-gouveia-de-andradecondado-pernambuco-professora-laudicea.jpg');
	}
	
	#box77 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8396/prof-jacira-maria-da-silva-escola-municipal-dr-jose-haroldo-da-costa-municipio-de-maceio-al-6-anos.jpg');
	}
	
	#box78 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8397/professor-humberto-mascarenhas-escola-municipal-inez-beatriz-de-araujo-tacaratu-pernambuco.jpg');
	}
	
	#box79 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8398/professora-andreza-do-rosario-dos-santos-pereira-alunos-do-9-ano-tarde-escola-municipal-dr-benedito-maia-municipio-de-ananindeua-estado-do-para.jpg');
	}
	
	#box80 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8399/professora-angela-cuerci-fedeszen-calenzani-eeefm-professora-ana-maria-carletti-quiuqui-municipio-de-aguia-branca-es.jpg');
	}
	
	#box81 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8400/professora-clea-lucila-da-silva-ribeiro-escola-municipalizada-sao-joao-bosco-municipio-sao-joao-de-meriti-rio-de-janeiro.jpg');
	}
	
	#box82 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8401/professora-katiuscia-da-escola-municipalizada-jose-de-anchieta-do-municipio-de-queimados-estado-do-rio-de-janeiro.jpeg');
	}
	
	#box83 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8402/professora-silvane-dos-santos-matias-escola-estadual-tarcisio-maia-pau-dos-ferros-rio-grande-do-norte.jpg');
	}
	
	#box84 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8403/professorajacira-maria-da-silva-escola-municipal-prefeito-walter-doria-de-figueiredo-municipio-de-rio-largo-al-9-ano.jpg');
	}
	
	#box85 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8404/ramona-eliza-gaeta-xavier-e-emerson-bastos-escola-estadual-roberto-scaff-anastacio-mato-grosso-do-sul.jpg');
	}
	
	#box86 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8405/unidade-integrada-domingos-machado-cidade-barao-de-grajau-maranhao-8-ano-professora-jackeline-viana-nogueira.jpeg');
	}
	
	#box87 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8406/werbeth-sousa-da-conceicao-da-escola-municipal-vereadora-rosimar-silva-araujo-cidade-de-governador-newton-bello-ma.jpg');
	}
	
	#box88 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8478/ana-claudia-de-almeida-professora-do-5-ano-a-da-em-clelia-carmelo-da-silva-ibiuna-sp.jpg');
	}
	
	#box89 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8479/escola-municipal-sao-francisco-luzerna-santa-catarina.jpg');
	}
	
	#box90 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8480/escola-sao-raimundo-nonato-santarem-do-para-sinara-matos.jpg');
	}
	
	#box91 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8481/escola-vereador-orlando-hungria-nilopolis-rio-de-janeiro-angela-braga-turmas-do-9-ano.jpg');
	}
	
	#box92 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8482/escola-municipal-ferreira-itajuba-7-ano-em-natal-rn-professora-adriana-rosa.jpeg');
	}
	
	#box93 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8483/escola-municipal-leonel-azevedo-rio-de-janeiro-rj-professora-renata-rodrigues.jpg');
	}
	
	#box94 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8484/escola-municipal-prefeito-geraldo-wetzel-em-joinville-sc.jpg');
	}
	
	#box95 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8485/escola-bernardo-schmitz-que-fica-na-cidade-de-sangao-santa-catarina-as-fotos-sao-do-nosso-cafe-com-memorias-professores-responsaveis-beatriz-silva-e-lucas-mendes.jpg');
	}
	
	#box96 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8486/lucia-helena-bezerra-de-almeida-escola-de-ensino-fundamental-governador-waldemar-alcantara-pentecoste-ceara.jpg');
	}
	
	#box97 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8487/professora-tatiely-marcolino-escola-estadual-abre-campo-minas-gerais-sre-ponte-nova.jpg');
	}
	
	#box98 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8488/eeisenador-robert-kennedy-sao-bernardo-do-campo-sp.jpeg');
	}
	
	#box99 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8489/eef-maria-do-socorro-gouveia-sao-goncalo-do-amarantece-professora-krisna-bezerra-do-6-ano.jpg');
	}
	
	#box100 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8490/escola-alacid-nunes-jeferson-bruno-do-nascimento-sao-sebastiao-da-boa-vista-para-rio-pracuuba-miri.jpg');
	}
	
	#box101 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8491/cintia-aparecida-rodrigues-ee-professor-odecio-lucke-cordeiropolis-sp.jpg');
	}
	
	#box102 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8492/cristiane-carloni-da-escola-benedito-eufrasio-marcondes-vieira-de-franca-sp.jpg');
	}
	
	#box103 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8493/danielle-das-neves-oliveira-escola-municipal-dona-maria-de-araujo-lobo-9-ano-cronica-alagoas-marechal-deodoro.jpg');
	}
	
	#box104 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8494/carla-elizabeth-da-silva-escola-emef-paul-harris-de-sao-leopoldo-rs-fotos-de-alunos-da-turma-93-nono-ano-da-tarde.jpg');
	}
	
	#box105 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8495/centro-estadual-educacional-profissionalizante-berila-alves-de-almeida-nossa-senhora-das-dores-no-estado-de-sergipe-prof-cristiane-menezes-2-ano-b.JPG');
	}
	
	#box106 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8496/centro-estadual-educacional-profissionalizante-berila-alves-de-almeida-nossa-senhora-das-dores-no-estado-de-sergipe-prof-cristiane-menezes-2-ano-d.JPG');
	}
	
	#box107 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8497/ana-maria-santos-rego-rabelo-escola-estadual-de-candeal-municipio-de-conego-marinho.jpeg');
	}
	
	#box108 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8498/ana-lucia-nunes-de-souza-escola-professora-francisca-borba-balneario-picarras-sc-memorias-literarias.jpg');
	}
	
	#box109 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8499/luciana-simoes-emeb-prof-rosa-helena-m-m-sousa-6-ano-a-cidade-cajamar-sao-paulo.jpg');
	}
	
	#box110 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8500/margarida-xisto-da-silva-soares-escola-municipal-irene-linda-ziole-crivelli-cidade-de-taquarussu-estado-de-mato-grosso-do-sul.jpg');
	}
	
	#box111 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8501/monica-dias-florencio-escola-caic-tancredo-de-almeida-neves-valparaiso-do-goias-goias.jpg');
	}
	
	#box112 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8502/municipal-joel-lopes-galvao-jucurutu-rn.jpg');
	}
	
	#box113 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8503/nome-caroliny-brunna-dos-reis-ponath-escola-eeefm-laranjeiras-serra-es.jpeg');
	}
	
	#box114 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8504/paraiso-das-aguas-ms-distrito-de-pouso-alto-5-ano-eusenir-borges.jpg');
	}
	
	#box115 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8505/professor-jefferson-mercadante-escola-municipal-joao-goncalves-praia-grande-sp-5-ano.jpg');
	}
	
	#box116 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8506/professora-ana-karine-do-nascimento-vieira-jaguaribe-ceara-5ano-da-escola-luiza-tavora.jpg');
	}
	
	#box117 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8507/professora-ana-karine-do-nascimento-vieira-jaguaribe-ceara-6ano-da-escola-luiza-tavora.jpg');
	}
	
	#box118 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8508/professora-sueli-silva-escola-e-e-prof-maria-pires-sbc-sp-7-ano-b.jpeg');
	}
	
	#box119 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8509/silmara-regina-colombo-ee-anna-passamonti-balardin-sertaozinho-sp.jpg');
	}
	
	#box120 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8510/unidade-escolar-leticia-macedo-7-ano-anisio-de-abreu-no-piaui-prof-rosa-luzia-ribeiro.jpg');
	}
	
	#box121 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8511/wanderlene-escola-padre-joao-piamarta-no-estado-do-amapa-cidade-de-santana.jpg');
	}
	
	#box122 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8512/professora-leonilde-antonia-miranda-de-almeida-escola-estadual-sabino-barroso-sabinopolis-mg.jpg');
	}
	
	#box123 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8513/professora-silvana-paulina-gomes-teixeira-8-ano-escola-estadual-monsenhor-rocha-santa-barbara-do-leste-mg.JPG');
	}
	
	#box124 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8514/professora-tatiana-paiva-escola-frei-faustino-legarda-7-ano-a.jpg');
	}
	
	#box125 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8515/professora-wanderlen-cadorso-escola-piamarta-macapa-ap.jpg');
	}
	
	#box126 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8516/professoras-bruna-mercia-pereira-e-rosa-maria-escola-estadual-padre-giuliano-moretti-tocantinopolis-to.png');
	}
	
	#box127 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8517/professoras-maria-das-dores-gabriele-e-sandra-regina-ee-dr-carlos-garcia-santo-andre-sp.jpg');
	}
	
	#box128 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8518/professores-sandra-virginia-e-virlei-colegio-estadual-maria-rosa-de-oliveira-tobais-barretose.jpeg');
	}
	
	#box129 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8519/professora-jussiara-costa-souza-santos-escola-municipal-dr-joaquim-marques-moneitro-jequieba.jpg');
	}
	
	#box130 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8520/professora-sianara-soares-ee-doutor-agostinho-da-silva-silveira-minas-novas-mg.jpg');
	}
	
	#box131 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8521/professora-maria-aparecida-de-oliveira-silva-6-ano-c-escola-emef-gabriel-diniz-cedro-ce.jpg');
	}
	
	#box132 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8522/professora-marli-boeno-cruz-conversa-com-o-poeta-local-jairo-brum-gomes-escola-estadual-de-ensino-fundamental-pedro-lenz-sarapiranga-rs.jpg');
	}
	
	#box133 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8523/professora-patricia-parreira-escola-manoel-goncalves-da-cruz-anapolis-go.jpg');
	}
	
	#box134 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8524/professora-renata-rodrigues-escola-municipal-leonel-azevedo-rj-2.jpg');
	}
	
	#box135 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8525/professora-roselene-valerio-emeief-jose-marques-da-rocha.jpg');
	}
	
	#box136 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8526/professora-fabiana-felix-escola-mul-barao-do-rio-branco-5-ano-arcoverde-pe.jpg');
	}
	
	#box137 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8527/professora-leda-costa-escola-dr-alfredo-pujol-pindamonhangaba-sp.jpg');
	}
	
	#box138 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8528/professora-mara-alice-da-silva-costa-colegio-estadual-unidade-polo-1-ano-do-medio-maringa-parana.jpg');
	}
	
	#box139 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8529/professora-maria-aparecida-soares-gomes-e-juliana-aparecida-ribeiro-emef-professora-joanninha-gilberti-sertaozinho-sp.jpg');
	}
	
	#box140 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8530/professora-maria-do-socorro-abrantes-sarmento-emeif-de-bandarra-5-ano-sao-joao-do-rio-do-peixe-pb.jpg');
	}
	
	#box141 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8531/professora-nilceia-silva-ee-coronel-eduardo-jose-de-camargo-paraibuna-sp.JPG');
	}
	
	#box142 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8532/professora-raiane-diniz-escola-deputado-murilo-rocha-aguiar-5-ano-camocim-ce.jpg');
	}
	
	#box143 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8533/professora-andressa-de-almeida-fonseca-escola-estadual-professora-theolinda-desouza-carmo-governador-valadares-mg-5-ano.png');
	}
	
	#box144 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8534/professora-cristiane-dias-goncalves-paula-ee-professora-ilma-de-lana-e-caldeira-dom-cavanti-mg.jpg');
	}
	
	#box145 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8535/professora-elizane-pereira-da-silva-escola-ui-francisco-barreto-lima-campos-ma.jpg');
	}
	
	#box146 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8536/professora-elza-amorim-escola-jose-francisco-da-silva-placido-de-castro-ac.jpg');
	}
	
	#box147 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8537/professora-eva-nonato-vieira-cepi-maria-olinta-de-almeida-itaberai-go.jpg');
	}
	
	#box148 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8538/professora-josafan-de-castro-rocha-5-ano-escola-emeief-construindo-o-saber.jpg');
	}
	
	#box149 {
	  background-image: url('https://www.escrevendoofuturo.org.br/arquivos/8539/professora-isabel-cristina-clementino-bezerra-escola-doce-vida-colonia-gurgueia-pi.JPG');
	}
	

	
	.full {
	  float: none;
	  height: 600px !important;
	  width: 939px;
	  position: absolute;
	  z-index: 2;
	}
	
	#gridH {
	  background-color: #eee;
	  min-height: 600px;
	  margin-bottom: 50px;
	}
	
	#gridH .row {
	  margin-top: 150px;
	}
	
	#gridH .row .full {
	  margin-top: -150px;
	}
	
	.full:hover {
	  transform: scale(1);
	  box-shadow: none;
	}
	
	.opacity {
	  opacity: .8;
	}
	
	.captionBox {
	  background-color: rgba(0, 0, 0, 0.8);
	  bottom: 50px;
	  color: white;
	  left: 50px;
	  padding: 25px;
	  position: absolute;
	  opacity: 0;
	}
	
	.captionBox p {
	  font-size: 16px;
    font-weight:300;
	}
	
	.captionBox h3 {
	  margin-top: 0;
	  text-transform: uppercase;
	}
	
	.transition {
	  transition: 1s;
	}
	
	.bottomRight {
	  left: auto;
	  right: 80px;
	}
	
	.topRight {
	  left: auto;
	  right: 50px;
	  bottom: auto;
	  top: 50px;
	}
	
	.topLeft {
	  bottom: auto;
	  top: 50px;
	}
	
	.toggleIcon {
	  background-color: rgba(0, 0, 0, 0.7);
	  background-position: center center;
	  background-repeat: no-repeat;
	  background-size: 26px 26px;
	  border-radius: 3px;
	  bottom: 15px;
	  height: 36px;
	  left: -100px;
	  opacity: 0;
	  padding: 10px;
	  position: absolute;
	  width: 36px;
	}
	
	.box.full .toggleIcon {
	  background-color: rgba(0, 0, 0, 0.57);
	  background-position: center center;
	  background-repeat: no-repeat;
	  border-radius: 3px;
	  top: 26px;
	  height: 36px;
	  left: 50px;
	  opacity: 0;
	  padding: 10px;
	  position: absolute;
	  width: 36px;
	}
	
	.box:hover .toggleIcon {
	  opacity: 1;
	  left: 15px;
	  transition: all 0.25s ease 0s;
	  background-image: url('http://www.ucdenver.edu/SiteCollectionImages/GridGallery/openIcon.png');
	}
	
	.box.full .toggleIcon {
	  opacity: 1;
	  left: 50px;
	  top: 26px;
	  border-radius: 0;
	  background-image: url('http://www.ucdenver.edu/SiteCollectionImages/GridGallery/closeIcon.png');
	  background-size: 55%;
	}
	
	.box.full .toggleIcon:hover {
	  background-color: black;
	  transition: all 0s ease 0;
	}
	
	#gridGallery > .row {
	  margin: 0;
	}
	
	@media (max-width: 1200px) {
	  .full {
	    width: 939px;
	  }
	}
	
	@media (max-width: 992px) {
	  .full {
	    width: 750px;
	  }
	}
	
	@media (max-width: 768px) {
	  #boxThree,
	  #boxFour,
	  #boxFive,
	  #boxSix {
	    height: 300px;
	  }
	  .toggleIcon {
	    display: none;
	  }
	  .full .captionBox {
	    bottom: 0;
	    left: 0;
	    position: absolute;
	    width: 100%;
	    padding: 10px;
	  }
	  .full .captionBox p {
	    display: none;
	  }
	  .full .captionBox h3 {
	    margin-bottom: 0;
	  }
	  .box.full {
	    height: inherit;
	    width: 100%;
	  }
	  .box {
	    max-height: 150px !important;
	  }
	  #gridGallery .row {
	    background-color: transparent;
	  }
	  #gridH .row {
	    margin-top: 0px;
	  }
	  .box.full .toggleIcon {
	    height: 50px !important;
	    left: 0 !important;
	    top: 0 !important;
	    width: 50px !important;
	    display: block;
	  }
	  .mobileFunction {
	    float: left;
	    height: 150px;
	    width: 100%;
	  }
	  /* SHAREPOINT ONLY */
	}
	
	.container{max-width:920px !important;}
	
	
