

.card-verde .moldura{
	display:none;
	} 
	
.card-verde{
	background:#00cff7 !important;
	color:#004474 !important;
	}

.card-verde h3{
	color:#004474 !important;
	}

.card-verde p{
	color:#004474 !important;
	}



.texto-olimpiada h3{
	color:#004474 !important;
	}
	
	@media (min-width:990px){
		
		
		.base-olimpiada div .card-verde div:first-child, .base-recursos .card-bordo>a>div:first-child, .base-formacao-continua .card-formacao>a>div:first-child{height:auto;}
		
		
		.base-recursos .card-bordo img, .base-olimpiada .card-verde img, .base-formacao-continua .card-formacao img{
		    width: 100%;
    height: 160px;
		object-fit: cover;}
		
		
		.img-colorido {
	max-height: 330px !important; 
	height: 330px !important; 
	width: 240px !important;
	}

.card-formacao{
	max-height: 330px !important;
	}

.moldura{
	width:240px !important;
	}

.card-verde .img-colorido {
	max-height: 250px !important; 
	height: 250px !important; 
	width: 240px !important;
	}
		
	.card-verde{
	height: 250px !important;
	}

.card-bordo{
	height: 330px !important;
	}
		
	}
.base-olimpiada div .card-verde h3 {display:none !important;}