.painel{
	border-radius:0px !important;
	border:0px !important;
	background:url("https://www.escrevendoofuturo.org.br/arquivos/7940/bg-olp.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	}
	
.bloco-conheca-a-olimpiada{
	display:none;
	}
	
.painel-slides{
	display:none;
	}

.paginacao-slide{
	display:none;
	}
	
html, body{
	background-color: #30d4f9;
	}
	
.rodape{
	background:#ffffff;
	padding-top:20px;
	}
	
.breadcumb.verde a{
	color:#004473;
	}
	
.verde, .verde>a{
	color:#004473 !important;
	}
	
.botao-edicao-concurso.selecionado>a {
	background-color: #004473;
	color: #ffffff;
	}

.botao-edicao-concurso>a{
	color:#004473;
	}

.rodape{
	padding-bottom: 150px
	}
	
.botao-adesao{background: #004474; color: #ffffff; padding: 15px; border-radius: 4px; box-shadow: 3px 4px rgba(0, 0, 0, 0.22); width: 100%; text-align: center; text-decoration: none; max-width: 375px; min-width: 375px; display: inline-block;}

.botao-inscricao{background: #004474; color: #ffffff; padding: 15px; border-radius: 4px; box-shadow: 3px 4px rgba(0, 0, 0, 0.22); width: 100%; text-align: center; text-decoration: none; max-width: 375px; min-width: 375px; display: inline-block;}